.container {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  font-size: 36px;

  text-decoration: underline;
}
