.container {
  width: 100vw;
  height: 100vh;
}

.container h1 {
  text-transform: uppercase;
}

.container ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container li {
  font-size: 14px;

  width: fit-content;
  padding: 25px;

  border: 1px solid black;
  text-align: center;

  transition: transform 0.3s ease-in-out;
}

.container li:hover {
  transform: translateY(-10px);
}

.listWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
