.container {
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  width: 960px;
  height: 250px;
  padding: 20px;
  background-color: red;
}

.bookCard img {
  width: 125px;
}

.tagList {
  display: flex;
  gap: 10px;
}

.tagList li {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
  border-radius: 15px;
}
